# Build
dist/
build/
*.egg-info/

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/

# Docs
docs/_build/
docs/autoapi/

# Env
.env
.env.local
